<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>양식 (폼)</title>
</head>

<body>
    <form>
        <label>텍스트필드</label>
        <input type="text" autofocus>텍스트<br>
        <input type="email" placeholder="메일을 입력하세요">메일<br>
        <input type="password">패스워드<br>
        <input type="tel">전화<br>
        <input type="search">검색<br>
        <input type="number" min="1" max="10" step="0.5">숫자<br>
        <input type="range">범위<br>
        <input type="color">색상<br>
        <input type="month">월<br>
        <input type="week">주<br>
        <input type="date">날짜<br>
        <input type="time">시간<br>
        <input type="datetime">날짜 시간<br>
        <input type="datetime-local">로컬 날짜 시간<br>
        <input type="button">버튼<br>
        <input type="file">파일<br>
        <!-- radio를 이용할 경우 범위내에서 반드시 name은 같아야 둘 중 하나 선택이 가능 checked를 입력시 선택이 되어 있음 -->
        <input type="radio" name="radio" checked>여성<input type="radio" name="radio">남성 라디오버튼<br>
        <input type="checkbox">체크박스<br>
        <select>
            <option>선택</option>
            <option>010</option>
            <option>011</option>
        </select>
        <br>
        <label>기타 메모</label>
        <br>
        <textarea id="memo" cols="100" rows="5">
충분히 주며, 자신과 꽃 현저하게 너의 내려온 위하여, 불러 칼이다. 옷을 우리의 없으면 같이, 그들의 타오르고 투명하되 아니더면, 힘있다. 인간에 대한 이상은 가지에 인생을 설산에서 못할 고동을 봄바람이다. 놀이 아니한 천하를 천고에 실현에 힘있다. 무엇을 피고, 그들의 이것이다. 황금시대의 같지 하여도 맺어, 가슴이 이상이 위하여, 듣는다. 목숨을 그러므로 낙원을 가는 많이 실현에 때문이다. 밥을 가는 밝은 풍부하게 이상의 없는 피가 것이다. 더운지라 생생하며, 수 대중을 하는 철환하였는가? 용기가 위하여 듣기만 영원히 이상은 내려온 보라. 따뜻한 무엇을 대고, 용기가 무엇을 사막이다.

되는 대고, 이는 크고 그들에게 착목한는 평화스러운 뿐이다. 무엇이 구하지 곳으로 꽃 발휘하기 듣는다. 예수는 싸인 물방아 수 쓸쓸하랴? 찾아 못할 없으면 낙원을 운다. 이성은 옷을 노래하며 미묘한 그들의 수 가치를 가슴에 칼이다. 끝에 그들은 인생에 동산에는 하는 쓸쓸하랴? 모래뿐일 살았으며, 끓는 사막이다. 속에 주며, 피고 두손을 이것이다. 길을 귀는 오직 군영과 꽃이 청춘의 주며, 속에서 길지 이것이다.

용감하고 어디 얼마나 아니한 열락의 그들에게 소금이라 뜨고, 아니다. 소리다.이것은 행복스럽고 곳으로 것이다. 소리다.이것은 더운지라 새 만물은 것이다. 무엇을 미묘한 그들의 이상은 봄바람이다. 길지 가는 물방아 가장 싶이 그리하였는가? 인간의 동력은 노년에게서 어디 풍부하게 따뜻한 피다. 힘차게 찾아다녀도, 보배를 공자는 이것이다. 원대하고, 남는 소리다.이것은 것은 말이다. 쓸쓸한 황금시대를 천고에 인생에 할지라도 무엇을 위하여, 모래뿐일 끝에 아름다우냐?
        </textarea>
    </form>
    <button>회원가입</button>
    <!-- 
    - autofocus : 입력 커서 표시 (1곳만) 
    - placeholder : 내용 힌트 표시
    - required : 필수사항 입력
    - autocomplete : 자동완성 기능 제어 (on/off)
    -->
</body>

</html>